<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pizzaria Fantástica</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/list-usuario.css">
</head>

<body>
<div id="list-usuario">
	<a id="backToHome" href="/"> <i class="material-icons">home</i> </a>
	<a href="/usuario/create">Adicionar novo Usuário</a>
	<table>
		<tbody>
			<% for(let usuario of usuarios ) { %>
			<tr>
				<td><%= usuario.nome %></td>
				<td>
					<%= usuario.email %>
				</td>
				<td>
					<form name="formDelete" method="POST" onsubmit="handleDelete(this)"  action="/usuario/<%= usuario.id %>?_method=DELETE">
						<button type="submit">Remover</button>
					</form>
					<a href="/usuario/<%= usuario.id %>/edit">Editar</button>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<script>
	function handleDelete(form){
		event.preventDefault();

		let confirmation = confirm('Você realmente deseja apagar este usuário ?');
		
		if(confirmation){
			form.submit();
		}
	}
</script>
</body>

</html>