<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/form-usuario-login.css" />
    <title>Pizzaria Fantástica</title>
  </head>
  <body>
    <form
      id="form-usuario"
      method="POST"
      action="/login"
      onsubmit="handleValidation(this)"
    >
      <label>
        Email:
        <input type="email" name="email" id="email" placeholder="Email" />
      </label>

      <label>
        Senha:
        <input
          type="password"
          name="senha"
          id="senha"
          placeholder="Digite a Senha"
        />
      </label>
      <button type="submit">Entrar</button>
    </form>

    <script>
      function handleValidation(form) {
        event.preventDefault();

        if (form.email.value.trim() === "") {
          return alert("Preencha o campo de email!!");
        }

        if (form.senha.value.trim() === "") {
          return alert("Preencha o campo de senha!");
        }

        form.submit();
      }
    </script>
  </body>
</html>
